<ion-view view-title="Gusto Boliviano">
    <ion-content class="light-primary-color">
      <div style="text-align: right;" class="padding primary-color">
        <a href="#" class="padding">Iniciar sesión</a>
        <a href="#/registro" class="padding">Registrarse</a>
      </div>
      <div style="text-align: center;" class="primary-color">
        <a href="#" class="padding">
          <img src="img/logo.png">
        </a>
      </div>
      <div style="text-align: center;">
        <div class="row">
          <div class="col col-67">
            <div class="card">
              <div class="item item-divider">
                ¿Quiénes somos?
              </div>
              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
              </div>
            </div>
          </div>
          <div class="col col-33">
            <img src="img/logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <img src="img/logo.png">
          </div>
          <div class="col col-67">
            <div class="card">
              <div class="item item-divider">
                ¿Qué ofrecemos?
              </div>
              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-67">
            <div class="card">
              <div class="item item-divider">
                ¿Qué buscamos?
              </div>
              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
              </div>
            </div>
          </div>
          <div class="col col-33">
            <img src="img/logo.png">
          </div>
        </div>
      </div>
      <div class="bar bar-footer light-primary-color">
        <div class="title">Copyright © 2016 Gusto Boliviano. All Rights Reserved.</div>
      </div>
  </ion-content>
</ion-view>
