<ion-view view-title="Gusto Boliviano - Registro">
  <ion-content class="light-primary-color">
    <div style="text-align: right;" class="padding primary-color">
      <a href="#" class="padding">Iniciar sesión</a>
      <a href="#/registro" class="padding">Registrarse</a>
    </div>
    <div style="text-align: center;" class="primary-color">
      <a href="#" class="padding">
        <img src="img/logo.png">
      </a>
    </div>
    <div style="text-align: center;">
      <div class="card">
        <div class="item item-divider">
          Nuevo establecimiento
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text">
            </label>

            <label class="item item-input">
              <span class="input-label">Descripción</span>
              <textarea></textarea>
            </label>

            <label class="item item-input">
              <span class="input-label">Imagen del establecimiento</span>
              <input type="file">
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Tipo de establecimiento
              </div>
              <select>
                <option>Café</option>
                <option>Restaurante</option>
                <option>Pub</option>
              </select>
            </label>

            <label class="item item-input">
              <span class="input-label">Horario de atención - apertura</span>
              <input type="time">
            </label>

            <label class="item item-input">
              <span class="input-label">Horario de atención - cierre</span>
              <input type="time">
            </label>

            <label class="item item-input">
              <span class="input-label">Dirección principal</span>
              <input type="text">
            </label>

            <label class="item item-input">
              <span class="input-label">N.I.T. (PDF - Opcional)</span>
              <input type="file">
            </label>

            <label class="item item-input">
              <span class="input-label">Licencia de funcionamiento (PDF - Opcional)</span>
              <input type="file">
            </label>

            <button class="button button-full button-balanced">
              Registrar
            </button>
            <br><br>
          </div>
        </div>
      </div>
    </div>
    <div class="bar bar-footer light-primary-color">
      <div class="title">Copyright © 2016 Gusto Boliviano. All Rights Reserved.</div>
    </div>
  </ion-content>
</ion-view>
